<div class="container">
	<div class="screen">
        
		<div class="screen__content">
			<form class="login" (ngSubmit)="register()" [formGroup]="registerForm">
                <h1>New User</h1>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" formControlName="username" name="username" placeholder="Name">
				</div>
				<div *ngIf="(this.registerForm.get('username')?.touched||this.registerForm.get('username')?.dirty)&&this.registerForm.get('username')?.errors" style="color: red;">
					Invalid Username
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" formControlName="userid" name="userid" placeholder="User Id">
				</div>
				<div *ngIf="(this.registerForm.get('userid')?.touched||this.registerForm.get('userid')?.dirty)&&this.registerForm.get('userid')?.errors" style="color: red;">
					Invalid UserID
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" formControlName="password" name="password" placeholder="Password">
				</div>
				<div *ngIf="(this.registerForm.get('password')?.touched||this.registerForm.get('password')?.dirty)&&this.registerForm.get('password')?.errors" style="color: red;">
					Invalid Password
				</div>
				<button class="button login__submit">
					<span class="button__text">Get Started</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>

		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>